
body {
  margin: 0;
}


.header {

    display: flex;
    justify-content: end;
    width: 1200px;
    height: 60px;
    flex-direction: row;
    margin: 0;
    top: -97px;
    left: -601px;
    background:#FFFFFF;
    box-shadow: 0px 2px 4px 0px #0000000D;

}


.logo {

    display: flex;
    position: relative;
    left: 50px;
    top: 10px;
    width: 40px;
    height: 40px;

}

.head {
    position: relative;
    display: flex;
   margin: auto;

}

.nav {

    display: flex;
    margin: auto;
    justify-content: space-evenly;
    gap: 66px;
    left: 509px;
    list-style-type: none;

}

ul.menu-bar a:link:hover  {


    font-family: Roboto;
    text-decoration: underline;
    text-decoration-color: #00ACDC;

}

.button:active {
    color: #00ACDC;
}

.bar {
    width: 37px;
    height: 4px;
    top: 56px;
    left: 509px;
    border-radius: 8px;

}
.button{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    height: 15px;

}


